{
    "name": "Feature Engineering",
    "existing_cluster_id": "<clusterid>",
    "timeout_seconds": 3600,
    "max_retries": 1,
    "notebook_task": {
        "notebook_path": "/Users/<uname@example.com>/notebooks/2_feature_engineering",
        "base_parameters": {
            "FEATURES_TABLE": "training_data",
            "Start_Date": "2000-01-01",
            "zEnd_Date": "2015-10-30"
        }
    }
}