{
    "name": "Feature Engineering",
    "existing_cluster_id": "<clusterid>",
    "timeout_seconds": 3600,
    "max_retries": 1,
    "notebook_task": {
        "notebook_path": "/Users/<uname@example.com>/notebooks/2a_feature_engineering",
        "base_parameters": {
            "features_table": "training_data",
            "start_date": "2000-01-01",
            "to_date": "2015-10-30"
        }
    }
}