{
    "name": "Model Scoring",
    "existing_cluster_id": "<clusterid>",
    "timeout_seconds": 3600,
    "max_retries": 1,
    "notebook_task": {
        "notebook_path": "/Users/<uname@example.com>/notebooks/4_model_scoring",
        "base_parameters": {
            "SCORING_DATA": "scoring_input",
            "RESULTS_DATA": "results_output",
            "MODEL_TYPE": "RandomForest"
        }
    }
}