{
    "name": "Data ingestion",
    "existing_cluster_id": "<clusterid>",
    "timeout_seconds": 3600,
    "max_retries": 1,
    "notebook_task": {
        "notebook_path": "/Users/<uname@example.com>/notebooks/1_data_ingestion"
    }
}