{
    "name": "Model Scoring",
    "existing_cluster_id": "<clusterid>",
    "timeout_seconds": 3600,
    "max_retries": 1,
    "notebook_task": {
        "notebook_path": "/Users/<uname@example.com>/notebooks/3a_model_scoring",
        "base_parameters": {
            "scoring_data": "scoring_input",
            "results_data": "results_output",
            "model": "RandomForest"
        }
    }
}